@font-face {
  font-family: "iconfont"; /* Project id 3954076 */
  src: url('//at.alicdn.com/t/c/font_3954076_akq9zedalx8.woff2?t=1682502196545') format('woff2'),
       url('//at.alicdn.com/t/c/font_3954076_akq9zedalx8.woff?t=1682502196545') format('woff'),
       url('//at.alicdn.com/t/c/font_3954076_akq9zedalx8.ttf?t=1682502196545') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuxiao:before {
  content: "\e62a";
}

.icon-tianjia:before {
  content: "\e657";
}

.icon-under:before {
  content: "\e685";
}

.icon-up:before {
  content: "\e686";
}

.icon-yuechi:before {
  content: "\e6e3";
}

.icon-shouye:before {
  content: "\e639";
}

.icon-zan:before {
  content: "\e870";
}

.icon-zan1:before {
  content: "\e871";
}

.icon-yueduxiao:before {
  content: "\e87d";
}

.icon-xiaolian:before {
  content: "\e8ab";
}

.icon-tubiao-bingtu:before {
  content: "\eb95";
}

.icon-wode1:before {
  content: "\e60c";
}

.icon-send-01:before {
  content: "\e727";
}

.icon-ai44:before {
  content: "\e6a2";
}

.icon-ai47:before {
  content: "\e6a5";
}

.icon-yonghu:before {
  content: "\e62f";
}

.icon-yincangmima:before {
  content: "\e63d";
}

.icon-xiangxia:before {
  content: "\e60b";
}

.icon-tv:before {
  content: "\e765";
}
