.dialog-container{
 width: 100%;
 height: 100%;
 position: fixed;
 opacity: 1; /*透明度，0-1，透明-不透明*/
 top: 0px;
 left: 0px;
 z-index: 1;/*垂直屏幕方向的坐标，大的覆盖小的*/
}
.dialog-background{
 opacity: 0.2;
 background-color: black;
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
 min-height: 100vh;
}
.dialog-main{
 position: absolute;
 top: 0;
 opacity: 1;
 width: 80%;
 margin-top: 40%;
 margin-left: 10%;
 background-color: white;
 display: flex;
 flex-direction: column;
 border-radius: 15rpx;
}
.dialog-title{
 font-size: 30rpx;
 font-weight: bold;
 padding: 15rpx;
 background-color: #a8d8b9;
 color: white;
 margin-bottom: 15rpx;
 border-top-left-radius: 15rpx;
 border-top-right-radius: 15rpx;
}
.dialog-btn{
 font-size: 30rpx;
 font-weight: bold;
 text-align: center;
 color: #a8d8b9;
 border-bottom-left-radius: 15rpx;
 border-bottom-right-radius: 15rpx;
 backface-visibility: #e6e6e6;
 margin-top: 20rpx;
 padding-top: 20rpx;
 padding-bottom: 20rpx;
 max-width: 100%;
}